header{

	
}
.wrapper{
	max-width: 960px;
	margin: 0 auto;
}
#top{
  width:100%;
  height:auto;
  margin:0px auto;
  z-index:0;
}
.top_header{
	padding-top: 29px;
	width:100%;
  height: auto;
  position: fixed;
  background: #fff;
  z-index: 9999;
}

.logo{
	display: inline-block;
	padding-left: 10px;

}
.menu{
	float: right;
	padding-right: 10px;
	padding-top: 16px;
}
.menu ul{
	list-style: none;
}
.menu li{
	display: inline-block;
	padding-left: 28px;
	position: relative;
}
.white_letter{
	font-family: "Montserrat-Bold";
	color:#000;
	border: solid 2px #000;
	float: right;
	margin-left: 13px;
	padding-left: 18px;
	padding-right: 18px;
	text-align: center;
	font-family: "Montserrat-Regular";
	font-size: 32px;
}
.link{
	font-family: "Montserrat-Regular";
	font-size: 32px;
	color: #000;
}
.menu li:before{
	content: ".";
	color: #494e62;
	position: absolute;
	top:-3px;
	left:10px;
}
.dot:before{
	display: none;
}

.menu a{
	color: #000
 	font-family: "Montserrat-Regular";
 	font-size: 16px;
 	text-transform: uppercase;
 	line-height: 19px;
 }
 .menu a:hover{
 	color: #ed5055;
 	text-decoration: none;
 }
 .menu a:active{
 	color: blue;
 	text-decoration: none;
 }
 .btn_menu img{
 	width: 26px;
 }
 .btn_menu{
 	display: none;
 	border: none;
 	outline: none;
 	background-color: transparent;
 }


.subc a{
	color:#fff;
	font-family: "Montserrat-Regular";
	font-size: 14px;
}
.subc a:hover{
	color:green;

}
.subc a:active{
	color:blue;
}
	

.car{
	background: url(../img/p13.jpg);
	
 	padding: 50px 0;
 	text-align: center;
 	position: relative;
}
.item{
	padding: 157px;
}
.sidebar_text{
	padding-top: 40px;
	padding-bottom: 40px;
	background: #424242;

}
ul.list_menu{
	
}
.wrap{
	background: #424242;
	padding-top: 35px;
	width: 100%;

}
.list_menu li{
	display: inline-block;
	color:#fff;

}

.list_menu li:first-child{
	font-family: "Montserrat-Regular";
	font-size: 22px;

	

}
.list_menu li:nth-child(2){
	font-family: "OpenSans";
	font-size: 16px;
	
}
.list_menu li:last-child{
	font-family: "Montserrat-Regular";
	font-size: 14px;
	
	    /* float: right; */
    border: solid 2px #ff6e40;
    /* padding-top: 40px; */
    /* margin-right: 191px; */
    margin-left: 363px;
    margin-bottom: 37px;
    padding: 10px 50px;


}
.center_content{
	background:#f5f5f5;
}
.morbi{
	text-align: center;
	color: #cbcbcb;
	font-family: "Montserrat-Regular";
	font-size: 16px;
	padding-top: 100px;
}

.list_menu1{
	margin-top: 50px;

}
.list_menu1 li{
	display: inline-block;
	color:#000;



}

.list_menu1 li:first-child{
	font-family: "Montserrat-Regular";
	font-size: 16px;
	color: #c9c9c9;
	margin-top: 41px;
	


	

}
.list_menu1 li:nth-child(6){
	
	
	

	

}

.list_menu1 li:nth-child(6){
	font-family: "OpenSans";
	font-size: 16px;
	margin-left: 25px;


}
.another{
	font-family: "OpenSans";
	font-size: 16px;
	margin-right:15px;

}
.list_menu1 li:nth-child(8){
	font-family: "OpenSans";
	font-size: 16px;
	color: red;
	

	

}
.list_menu1 li:nth-child(5){
	font-family: "OpenSans";
	font-size: 16px;
	color: #616161;
	margin-right: 24px;
	
	

	

}
.list_menu1 li:last-child{
	font-family: "OpenSans";
	font-size: 16px;
    margin-bottom: 37px;
    color: #616161;
   


} 
.cont1{
	float:left;
}
.real{
    margin-top: 100px;
}

.left_text{
	font-family: "Montserrat-Regular";
	font-size: 16px;
	color: #fff;
	float: left;

}
.fa{
	color: #fff;
    font-size: 24px;
    background: #ff6e40;
    width: 61px;
    height: 61px;
    border-radius: 50%;
    /* padding: 5px 8px 5px; */
    padding: 20px;
    margin-right: 15px;


}


.img_ico{
	
	
	background: #ff6e40;
}

.bottom_left_text{
	font-family: "OpenSans";
	padding: 0 185px 0;
	font-size: 8px;
	color: #fff;
	float: left;
}
.button{
	border: 3px solid #ff6e40;
	color: #fff;
	float: left;
	padding: 18px 75px;
	font-family: "Montserrat-Regular";

}
.start{
	 width: 30%;
    /* text-align: center; */
    margin: 0 auto;
    border: solid 2px #ff6e40;
    padding: 15px 34px;
    font-family: "Montserrat-Regular";
    font-size: 18px;
    color: #fff;

}
.start a:active{
	color:green;
}




.first_string{
	font-family: "Montserrat-Regular";
	font-size: 42px;
	color: #fff;
	

}
.second_string{
	font-family: "Montserrat-Regular";
	font-size: 26px;
	color:#fff;
	margin-bottom:39px;
}
.item img{
 	max-width: 797px;
 	width: 100%;
 	padding-left: 10px;
}
.owl-prev{
 	background-image: url(../img/arrow_left.png);
 	background-position: 0 0;
 	width: 16px;
 	height: 27px;
 	position: absolute;
 	left: 10px;
 	top: 45%;
 	 border: 3px solid #ff6e40;
    padding: 14px 16px 17px 15px;
    
}
.owl-next{
 	background-image: url(../img/arrow-r.png);
 	background-position: 0 -26px;
 	width: 16px;
 	height: 27px;
 	position: absolute;
 	right: 10px;
 	top: 45%;
 	border:1px solid #ff6e40;
 	padding: 14px 16px 17px 15px;
}
.services{
	padding: 100px 0;
	border-bottom: 6px solid #f5f5f5;

}
.serv_head{
	color: #cbcbcb;
	font-size: 16px;
	font-family: "Montserrat-Regular";
	text-align: center;
}
.serv_head1{
	font-family: "Montserrat-Regular";
	font-size: 30px;
	color: #000;
	margin-bottom: 100px;
	font-weight: bold;
	text-align: center;
}
.read{
	border: 3px solid #000;
	text-align: center;
	padding: 18px 50px;
	    width: 30%;
    margin: 0 auto;
	color:#000;
}
.read a{
	color:#000;
	font-size: 14px;
	font-family: "Montserrat-Regular";

}
.read a:hover{
	color:green;

}

.read a:active{
	color:blue;
}




.serv_text{
	padding:40px 0 45px;
	color: #212121;
	font-size: 16px;
	font-family: "OpenSans";
	text-align: center;
}



	
}

.spr{
	background-image: url(../img/sprite.png);
	width: 100px;
    height: 100px;
    margin-top: 30px;
}
.bg-spr3 {
	content:'.';
    width: 80px; height: 80px;
    background: url('sprite.png') -10px -110px;
}


.spr_2{
	background-position: -210px -10px;
}
.spr_3{
	background-position: -110px -10px;
}
.spr_4{
	background-position: -10px -110px;
}
.spr_5{
	background-position: -110px -110px;
}
.spr_6{
	background-position: -210px -110px;
}
.mini_serv_head{
	font-family: "Montserrat-Regular";
	font-size: 20px;
	color: #212121;
	padding-bottom: 19px;

}
.mini_serv_text{
	 font-size: 16px;
    color: #6e6e6e;
    /* font-family: "LatoRegular"; */
    font-family: "OpenSans";
}
.services .box_services .col-md-4{
	padding-bottom: 32px;
}
.col-md-12{
	margin-bottom: 100px;
}

.left_sidebar{
	float: right;
	padding-left: 87px;
	color: #000;
	font-family: "Montserrat-Regular";
	font-size: 30px;
	display: inline-block;
}
.button{
	margin-left: 147px;
}
.div1 { display: inline-block;}

.portfolio{
	padding: 97px 0;
}
.port_head{
	font-size: 16px;
	color: #bdbdbd;
	font-family: "Montserrat-Regular";
	text-align: center;
}
.port_text{
	text-align: center;
	color: #000;
	font-size: 30px;
	font-family: "Montserrat-Regular";
	padding: 20px 0 11px;
}
.portfolio .port_items .col-md-3{
	padding-bottom: 20px;
}
.port_items img{
	width: 100%;
	margin-top: 20px;
}

.port_items {
	text-align: center;
}
.blok_btn{
	padding-bottom: 18px;
}
.blok_btn button{
	padding: 5px 6px;
	border: 1px solid #666d89;
	background-color: transparent;
	border-radius: 4px;
	color: #666d89;
	font-size: 12px;
	font-family: "LatoRegular";
	outline: none;
}
.blok_btn button.active{
	color:#fff;
	border: 1px solid #fff;
}
#Container .mix{
    display: none;
}

.quote{
	background-color: #eb5055;
	border-bottom: 6px solid #ea676b;
	padding: 63px 0;
	text-align: justify;
	
}



.quote_head{
	color:#f0d8d9;
	font-family: "LatoBold";
	font-size:26px;
	

}

.container-present{
	background-color: #f2f2f2;
	border-bottom: 1px solid black;
	border-bottom: 6px solid #fff;
	padding-bottom: 67px;
}
.sidebar_top{
	margin-left: 262px;
}
/*для кнопки*/
.top{
	width: 75px;
	height: 125px;
	position: fixed;
	right: 5%;
	bottom: 5%;
	cursor: pointer;
	z-index: 15;
}
.top_content{
	color: #bdbdbd;
	font-family: "Montserrat-Regular";
	font-size: 16px;
}
.quote_text{
	padding-top: 25px;
	font-size: 15px;
	color:#f0d8d9;
	padding-bottom: 40px;
	text-align: justify;
}
.contact{
	color:#000;
	font-family: "Montserrat-Regular";
	font-size: 20px;
}

/*для кнопки*/
.top img{
	width: 100%;
}
.box_borm{
	
}

input[type="text"]{
	width:100%;
	padding-left:15px;
	margin-bottom: 16px;
	outline: none;
	background-color: #ca4549;
	border: none;
	border-radius: 4px;
	line-height: 38px;/*высота ячейки*/

}

textarea{
	width:100%;
	height: 185px;
	padding-top: 15px;
	padding-left: 15px;
	outline: none;
	background-color: #ca4549;
	border: none;
	border-radius: 4px;
	color: #fff;


}
input[type="submit"]{
	padding:14px 37px;
	color:#fff;
	font-family: "LatoRegular";
	font-size: 16px;
	border-radius: 6px;
	background-color: #ca4549; 
	color:#fff;
}



/*для того чтоб изменить цвет плейсхолдера*/
*::-webkit-input-placeholder {
 color: #fff;
 opacity: 1;
}
*:-moz-placeholder {
 color: #fff;
 opacity: 1;
}
*::-moz-placeholder {
 color: #fff;
 opacity: 1;
}
*:-ms-input-placeholder {
 color: #fff;
 opacity: 1;
}

body input:focus:required:invalid,/*когда элемент выделен сфокусировано если команда написана верно*/
body textarea:focus:required:invalid {

border: 1px solid black;
}



body input:required:valid,
body textarea:required:valid {
	border: 1px solid green;

}

/*вторая часть */



.form_text_1{
	font-family: "LatoRegular";
	font-size: 18px;
	color:#f0d8d9;
	padding-bottom: 12px;
}


.form_text_2{
	font-family: "LatoRegular";
	font-size: 12px;
	color:#f0d8d9;
	padding-bottom: 22px;
	position: relative;
}




.form_text_3{
	font-family: "LatoRegular";
	font-size: 12px;
	color:#f0d8d9;
	padding-bottom: 12px;
	padding-left: 23px;
	position: relative;

}


.form_text_4{
	font-family: "LatoRegular";
	font-size: 12px;
	color:#f0d8d9;
	padding-bottom: 12px;
	padding-left: 23px;
}


.form_text_5{
	font-family: "LatoRegular";
	font-size: 12px;
	color:#f0d8d9;
	padding-left: 23px;
	padding-bottom: 12px;
	position: relative;
}

/*вставляем картинки*/


.form_text_3:before{
	content:'';
	position: absolute;
	background-image: url(../img/sprites.png);
	background-position: 0px -656px;
	width: 7px;
	height: 11px;
	left: 4px;
    top: 2px;
}


.form_text_4:before{
	content:'';
	position: absolute;
	background-image: url(../img/sprites.png);
	background-position: 0px -677px;
	width:11px;
	height: 14px;
	left:12px;
	

	
}



.form_text_5:before{
	content:'';
	position: absolute;
	background-image: url(../img/sprites.png);
	background-position: 0px -698px;
	width:15px;
	height: 14px;
	left: 0px;
    top: 4px;

	

	
}



/*второй блок*/

.present_head{
	font-size:26px;
	color: #666d89;
	font-weight: bold;
	font-family:"LatoBold";
	padding-top:65px;
	padding-bottom:29px;
	margin-left: 10px;
	
	
}


.present_text{
	font-size:15px;
	color: #767e9e;
	font-family:"LatoLight";
	padding-bottom:48px;
	text-align: justify;
	margin-left: 10px;

	
}

.present_text_head{
	font-weight: bold;
	color: #666d89;
	font-size: 20px;
	font-family: "LatoBold";
	padding-top: 19px;
	margin-left: 10px;



}


.present_text1{
	font-family: "LatoRegular";
	font-size: 10px;
	padding-top: 16px;
	color: #767e9e;
	margin-left: 10px;
	line-height: 11px;
	padding-bottom: 29px;


}


/*вставляем спрайты 2 блок*/
.present_img{
	background-image: url(../img/sprites.png);
    width: 33px;
    height: 34px;

}

.facebook{
	    background-position: 0 -74px;
}

.google{
	background-position: 0px -116px;
}

.twitter{
	background-position: 0px -614px;

}

 .in{
 	background-position: 0px -158px;
 }

 .img_cocial .present_img{
 	display: inline-block;
 	margin-left: 8px;


 }


 /*footer*/
footer{
	background-color: #fff;
	padding-right: 30px;
	padding-left: 30px;
	padding-top: 401px;
}
.footer_top{
	padding-top: 33px;
}

.text_footer{
	color:#666d89;
	margin-left: 10px;
	padding-bottom: 22px;


}
 .footer_sprite{
 	background-image: url(../img/sprites.png);
 	width: 33px;
    height: 34px;
 }

 .rigth_content{
 	margin-right: 10px;
 }

 .rigth_content .footer_sprite{
 	display: inline-block;
 	margin-left: 8px;
 	padding-bottom: 22px;
 }


 .footer_list li{
 	color:#9d9d9d;
 	display: inline-block;
 	font-family: "OpenSans";
 	font-size: 10px;
 }
.footer_list li:nth-child(2){
	margin-left: 70px;
	margin-right: 70px;
	margin-top: 28px;
	
}
.grey{
	background: red;
}

 #footer_ico,#footer_ico1,#footer_ico2,#footer_ico3,#footer_ico4{
 	background: none;
 	color:#9d9d9d;
 }

 .cont2{
 	float: right;
 }
 .about{
 	float: right;
    padding-top: 26px;
    margin-right: 15px;

 }

 .clearfix{
 	clear:both;
 }

 .tri{
 	font-family: "Montserrat-Regular";
 	font-size: 16px;
 	color: #f4f4f2;
 }

 .second_letter{
 	font-family: "Montserrat-Regular";
 	font-size: 30px;
 	color: #000;

 }
